{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Publich a post
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br>

                <form method="post" action=".">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="title"> Post title</label>
                        <input type="text" class="form-control" id="title" name="title">
                    </div>

                <!-- category -->
                    <div class="form-group">
                        <label for="column">Category:</label>
                        <select class="form-control" 
                                id="column" 
                                name="column"
                        >
                                <option value="none">-</option>
                            {% for column in columns %}
                                <option value="{{ column.id }}">{{ column }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="body"> Content </label>
                        <textarea type = "text" class="form-control" id="body" name="body" rows="12"> </textarea>
                    </div>

                    <button type="submit" class="btn btn-primary"> Finished </button>
                </form>
                
            </div>
        </div>
    </div>

{% endblock content %}