{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Post detail
{% endblock title %}

{% block content %}
<!-- post detail -->
<div class="container">
    <div class="row">

    <!-- title && author -->
    <h1 class="col-12 mt-4 mb-4"> {{post.title}}  </h1>
        <div class="col-12 alert alert-success">
            <div>
                Author: {{ post.author }}
                {% if user == post.author %}
                    <a href="#" onclick="confirm_delete()"> Delete post </a>
                    <a href="{% url "post:post_update" post.id %}"> | Edit post </a>
                {% endif %}
            </div>
            <div>
                views: {{ post.total_views }}
            </div>
        </div>
        <!-- category -->
        <div class="col-3 mt-4">
            <h4><strong> Category </strong></h4>
            <hr>
            <div>
                {{ toc|safe }}
            </div>
        </div>
    <!-- post content -->
        <div class="col-12">
            <p>{{post.body|safe}}</p>
        </div>
<hr>
    {% if user.is_authenticated %}
        <div>
            <form 
                action="{% url 'comment:post_comment' post.id %}" 
                method="POST"
            >
            {% csrf_token %}
                <div class="form-group">
                    <label for="body">
                        <strong>
                            Comments:
                        </strong>
                    </label>
                    <textarea 
                        type="text" 
                        class="form-control" 
                        id="body" 
                        name="body" 
                        rows="2"></textarea>
                </div>
                <!-- submit button-->
                <button type="submit" class="btn btn-primary "> send </button> <br>                   
            </form>
        </div>

    {% else %}
        <br>
        <h5 class="row justify-content-center">
            Comment after <a href="{% url 'userprofile:login' %}"> login </a>
        </h5>
        <br>
    {% endif %}

    <!-- show comments -->
    <div>
        {% for comment in comments %}
            <hr>
            <p>
                <strong style="color: pink">
                    {{ comment.user }}
                </strong> at:
                <span style="color: green">
                    {{ comment.created|date:"Y-m-d H:i:s" }}
                </span> says:
            </p>
            <pre style="font-family: inherit; font-size: 1em;">
                {{ comment.body }}</pre>
        {% endfor %}
    </div>
</div>
    </div>
</div>

<!-- delete post -->
<script>
    function confirm_delete() {
        // use the layer plugin 
        // to confirm the Delete post buttom would not be misclicked
        layer.open({
            title: "Post Deletion",
            content: "Confirm to delete?",
            // goto delete if yes is clicked
            yes: function(index, layero){
                location.href='{% url "post:post_delete" post.id %}'
            },
        })
    }
</script> 

{% endblock content %}