{% extends "base.html" %}
{% load staticfiles %}

<!-- Home -->
{% block title %}
    Home
{% endblock title %}

{% block content %}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
            <a href="{% url 'post:post_list' %}?search={{ search }}&column={{ column }}&tag={{ tag }}">
                Latest
            </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'post:post_list' %}?order=total_views&search={{ search }}&column={{ column }}&tag={{ tag }}">
                    Hotest
                </a>
            </li>
        </ol>
    </nav>

    <!-- search bar -->
    <div class="row">
        <div class="col-auto mr-auto">
            <form class="form-inline" >
                <label class="sr-only">content</label>
                <input type="text" 
                    class="form-control mb-2 mr-sm-2" 
                    name="search" 
                    placeholder="Searching..." 
                    required
                >
            </form>
        </div>
    </div>

    <!-- search hints -->
    {% if search %}
        {% if posts %}
            <h4><span style="color: red">"{{ search }}"</span>Search results"</h4>
            <hr>        
        {% else %}
            <h4>No<span style="color: red">"{{ search }}"</span>posts.</h4>
            <hr>
        {% endif %}
    {% endif %}
    
    <div class="row mt-2">
        {% for post in posts %}
            <!-- post content -->
            <div class="col-12">
                {% if post.column %}
                    <button type="button" 
                        class="btn btn-sm mb-2
                            {% if postx.column.title == 'cooking' %}
                                btn-success
                            {% elif post.column.title == 'Python' %}
                                btn-danger
                            {% elif post.column.title == 'books' %}
                                btn-warning
                            {% endif %}
                        "
                    >
                        {{ post.column }}
                    </button>
                {% endif %}
                
                <!-- Tags -->
                <span>
                    {% for tag in post.tags.all %}
                        <a href="{% url 'post:post_list' %}?tag={{ tag }}"
                        class="badge badge-secondary" 
                        >
                            {{ tag }}
                        </a>
                    {% endfor %}
                </span>

                <!-- Title -->
                <h4>
                    <b>
                        <a href="{% url 'post:post_detail' post.id %}"
                        style="color: black;" 
                        >
                            {{ post.title }}
                        </a>
                    </b>
                </h4>
                <!-- Summary -->

                <div class="card-body">
                    <p class="card-text">{{ post.body|slice:'50' }}...</p>
                </div>

                <!-- Footer -->
                <p>
                <!-- extra info. -->
                <span style="color: green;">
                    {{ post.total_views }} views&nbsp;&nbsp;&nbsp;
                </span>
                <span style="color: blue;">
                    {{ post.created_time|date:'Y-m-d' }} Published &nbsp;&nbsp;&nbsp;
                </span>
                <span style="color: darkred;">
                    {{ post.update_time|date:'Y-m-d' }} Updated
                </span>
            </p>
            <hr>
        </div>
    {% endfor %}
</div>


    <div class="pagination row">
        <div class="m-auto">
            <span class="step-links">
                <!-- previous page if not first page -->
                {% if posts.has_previous %}
                    <a href="?page=1 &order={{ order }} &search={{ search }}" class="btn btn-success">
                    <span>...</span>

                    <a href="?page={{ posts.previous_page_number }}&order={{ order }}&search={{ search }}" 
                    class="btn btn-secondary">
                    </a>
                {% endif %}

                <!-- current page -->
                <span class="current btn btn-danger btn-lg">
                    {{ posts.number }}
                </span>

                <!-- next page if not last page -->
                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}&order={{ order }}&search={{ search }}" 
                    class="btn btn-secondary">
                    </a>
                    <span>...</span>

                    <a href="?page={{ posts.paginator.num_pages }}&order={{ order }}&search={{ search }}"
                    class="btn btn-success">
                    </a>
                {% endif %}
            </span>
        </div>
    </div>

</div>
{% endblock content %}